on: [push, pull_request]
name: CI
jobs:
  build:
    name: "Build on Racket '${{ matrix.racket-version }}' (${{ matrix.racket-variant }}) Contracts (${{ matrix.enable-contracts}})"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        racket-version: ["current"]
        racket-variant: ["BC", "CS"]
        enable-contracts: [true, false]
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: Bogdanp/setup-racket@v1.6.1
        with:
          architecture: x64
          distribution: full
          variant: ${{ matrix.racket-variant }}
          version: ${{ matrix.racket-version }}
          dest: '"${HOME}/racketdist-${{ matrix.racket-version }}-${{ matrix.racket-variant }}"'
          local_catalogs: $GITHUB_WORKSPACE
          sudo: never
      - name: Check Racket version
        run: racket -v
      - name: Register local packages
        run: |
          raco pkg install -i --auto --no-setup --skip-installed typed-racket-test
          raco pkg update --auto --no-setup source-syntax typed-racket-lib typed-racket-more typed-racket-compatibility typed-racket-doc typed-racket typed-racket-test
      - run: raco setup --check-pkg-deps typed typed-racket typed-racket-test typed-scheme
        if: ${{ !matrix.enable-contracts }}
      - run: raco setup --check-pkg-deps typed typed-racket typed-racket-test typed-scheme
        if: ${{ matrix.enable-contracts }}
        env:
          PLT_TR_CONTRACTS: 1
      - run: racket -l typed-racket-test -- --unit
      - run: racket -l typed-racket-test -- --int
      - run: xvfb-run racket -l typed-racket-test -- --guitests
        if: ${{ !matrix.enable-contracts }}
      - run: racket -l typed-racket-test -- --opt
        if: ${{ !matrix.enable-contracts }}
      - run: racket -l typed-racket-test -- --missed-opt
        if: ${{ !matrix.enable-contracts }}
      - run: racket -l typed-racket-test/test-docs-complete
        if: ${{ !matrix.enable-contracts }}
      - run: raco setup math
      - run: racket -l typed-racket-test -- --external
      - run: racket -l typed-racket-test/external/historical-counterexamples
        if: ${{ !matrix.enable-contracts }}
      - run: racket -l typed-racket-test/external/tr-random-testing
        if: ${{ !matrix.enable-contracts }}
