name: Resyntax Autofixer

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 5"

jobs:
  autofix:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    permissions:
      pull-requests: write
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.2.1
      - name: Install Racket
        uses: Bogdanp/setup-racket@v1.11
        with:
          version: current
          local_catalogs: $GITHUB_WORKSPACE
          dest: '"${HOME}/racketdist-current-CS"'
          sudo: never
      - name: Register local packages
        run: |
          raco pkg install -i --auto --no-setup --skip-installed typed-racket-test
          raco pkg update --auto --no-setup source-syntax typed-racket-lib typed-racket-more typed-racket-compatibility typed-racket-doc typed-racket typed-racket-test
      - name: Install local packages
        run: raco setup typed typed-racket typed-racket-test typed-scheme
      - name: Create a Resyntax pull request
        uses: jackfirth/create-resyntax-pull-request@v0.5.1
        with:
          private-key: ${{ secrets.RESYNTAX_APP_PRIVATE_KEY }}
          max-fixes: '50'
          max-modified-files: '20'
          max-modified-lines: '500'
